html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
  	background: #FFf;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
body h1,h2,h3,h4,h5,h6{
	    font-family: 'Asap', sans-serif;
}
/*-- header --*/
#home {
    background: url(../images/takeaphoto.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:650px;
	position: relative;
	background-attachment: fixed;
}
.top-header {
	padding: 2em 0;
}
.logo h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
     color:#fff;
}
.logo h1 a{
	text-decoration:none;
	 color:#fff;
}
.logo span {
    border: 7px solid #00a78e;
    padding: 0px 14px;
    font-size: 1.2em;
    color: #fff;
}
.logo{
	float:left;
}

.navigation-right{
	float:right;
}
.navigation-right ul li{
	display:inline-block;
}
.navigation-right ul li a{
	color:#fff;
    font-size:1em;
    text-decoration: none;
    padding: 10px 0;
	text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
}
.navigation-right ul li.active a{
	    color: #00a78e;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
span.menu{
	display:none;
}
/*-- nav-hover --*/
.link-effect-3 a {
	padding: 10px 0;
	margin: 0 12px;
	color: #797878;
	text-shadow: none;
	position: relative;  
    font-family: 'Open Sans', sans-serif;
}
.link-effect-3 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 3px solid #00a78e;
    color: #00a78e;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}
.link-effect-3 a:hover::before {
	max-width: 100%;
}
/*--banner-info--*/
.banner-info {
    background:rgba(23, 20, 20, 0.58);
    margin-top: 4em;
}
.header-left {
    padding: 3em;
}
.header-right {
    padding: 3em;
}
ul.address-text {
    padding: 0;
}
ul.address {
    padding: 0;
}
ul.address p, h4, li, a{
	color: #d1d1d1;
}
.header-left img {
    width: 100%;
     margin-top: 19px;
}
.header-right {
    padding-left: 3em;
}
.header-right h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0.5em 0 0;
    font-weight: bold;
}
.header-right h1 {
    font-size: 1.2em;
    color: #FFF;
    background: #00a78e;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
	    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.header-right h1:before {
       width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: #00a78e transparent transparent transparent;
}
.service-head h4 {
    font-size: 1.2em;
    color: #FFF;
    background: #00a78e;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.service-head h4:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: #00a78e transparent transparent transparent;
	
}
.header-right h6 {
       font-size: 1em;
    color: #C7C7C7;
    margin-top: 0.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
}
ul.address {
    margin-top: 2em;
    border-top: 1px solid #AFAFAF;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.address-text li {
    display: inline-block;
    font-size: 1em;
    color: #fff;
    margin-top: 1em;
	font-weight: 400;
}
ul.address li ul.address-text li:nth-child(1){
	width: 20%;
}
ul.address li ul.address-text li a {
    color: #fff;
	text-decoration:none;
}
ul.address li ul.address-text li a:hover{
        color: #00a78e;
}
ul.address-text b {
    color:#fff;
}
/*--social-icons--*/
ul.social-icons{
	    display: block;
    padding: 0;
    background:#00a78e;
    padding:1.3em 0;
    text-align: center;
	margin:0;
}
.social-icons li {
    display: inline-block;
    margin-right: 1%;
}
.social-icons li a{  
    background: url(../images/social-icons2.png) no-repeat 3px 3px;
    display: block;
    height: 32px;
    width: 32px;
	margin-right: 1em;
	-webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.social-icons li a:before {
	content: '';
    display: block;
    height: 32px;
    width: 32px;
       border: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg); 
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);	
}
.social-icons li a.fb{
	background-position: 3px -30px;
}
.social-icons li a.in{
      background-position: 3px -62px;
}
.social-icons li a.dott {
background-position: 3px -94px;
}
.social-icons li a:hover::before {
    border-color: #00a78e;
	    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/*-- wellcome-note --*/
.welcome-note{
	margin:3em 0;
}
.note{
	
}
.note h1{
	color:#FFF;
	font-size:2.5em;
	font-weight:400;
}
.note h1 span{
	font-weight:700;
}


/*--//work--*/
/*-- portfolio --*/
.portfolio{
	display: flex;
	flex-wrap:wrap;
	padding: 2px 16px;
	justify-content:center;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 40%;
	background-color: #fff;
    border-radius: 1%;
	margin: 2rem;
  }
  .card img{
	border-radius: 1%;
  }
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card a:hover {
	text-decoration: none;
	
  }

  .homecontainer h3{
	color: #212322;
	padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  }
  .homecontainer p{
	text-align: center;
	color: #212322;
  }

/*-- feedback --*/
.feedback{
	background: url(../images/feedback-bg.jpg) no-repeat 0px 0px;
	background-size: cover;
	min-height: 300px;
	padding: 6em 0 0 0;
}
.feedback-grid p{
	color: #FFf;
	font-size: 1.2em;
	line-height: 1.5em;
	width: 90%;
	margin: 0 auto;
}
.feedback-grid h4{
	color:#2ec06c;
	font-weight:700;
	font-family: 'Asap', sans-serif;
	font-size:1.3em;
	margin:1em 0 0 0;
}
.feedback-grid h4 span{
	color:#FFF;
	font-weight:400;
	font-size:0.7em;
	font-style:italic;
}
/*-- /portfolio --*/
.sap_tabs{
	clear:both;
	padding: 0em 0 0em;
}
.resp-tabs-list {
	text-align:center;
    list-style: none;
    margin: 3em 0 4em 0;
    padding: 0;
}
.resp-tab-item{
       margin: 0 3px;
    padding: 10px 20px;
    text-decoration: none;
    color: #343A4E;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid #00a78e;
    display: inline-block;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-transform: Capitalize;
    font-weight: 600;
}
.resp-tab-active,.resp-tab-item:hover{
	color: #fff;
       border: 2px solid #00a78e;
    background:#00a78e;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}

.modal-header {
    border: none;
}
button.close{
	outline:none;
}
.modal-dialog {
    width: 600px;
    margin: 13em auto 0;
}
.port-modal{
	background:none;
	box-shadow:none;
	border:none;
	outline:none;
}
div#portfolioModal1,div#portfolioModal2,div#portfolioModal3,div#portfolioModal4,div#portfolioModal5,div#portfolioModal6,div#portfolioModal7,div#portfolioModal8,div#portfolioModal9,div#portfolioModal10 {
   
   background: rgba(0, 0, 0, 0.55);
}
.team-gd img {
    width: 100%;
	border-bottom: 9px solid rgba(0, 0, 0, 0.81);
}
/*-- portfolio --*/

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
	font-size: 35px;
}
#portfolio * {
    z-index: 2;
}
@media(min-width:767px) {
    #portfolio .portfolio-item {
    margin: 0 0 30px;
    }
}

.portfolio-modal .modal-content h3 {
    margin: 0 0 44px 0px;
    font-size: 2em;
    color: #fff;
}
.portfolio-modal .modal-content img {
    margin: 0 auto;
}
.portfolio-modal .modal-content p {
	font-size: 14px;
    padding: 2em 0;
    line-height: 1.8em;
    color: #fff;
}
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
   width: 45px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}
.portfolio-modal .close-modal:hover {
    opacity: .7;
}
.col-lg-offset-2 {
    margin-left: 0;
	margin:30px auto 0;
	float:none;
}
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height:45px;
    margin-left: 35px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height:45px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.team-gd {
    padding: 0;
	position:relative;
}
.bottom-top {
    margin: 0 auto;
    text-align: center;
}

#port {
    padding:5em 0 0 0;
	    background: #f4f4f4;
}
/*-- //portfolio --*/
/*-- contact --*/
.mail_us{
	    margin-bottom: 50px;
       margin-top: 50px;
	   background:rgba(23, 20, 20, 0.58);
}
.contact-grid1-left {
    width: 100%;
}
.contact-grid1-left1 {
    padding: 2em;
    border-bottom: 1px ridge rgb(214, 212, 212);
    background:#fff;
    text-align: center;
}
.contact-grid1-left1 span {
    font-size: 1.5em;
      color: #00a78e;
}
.contact-grid1-left1 ul{
	padding:0;
}
.contact-grid1-left1 ul li {
    list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    color: #999;
}
.contact-grid1-left1 a:hover {
    color: #999;
}
.contact-grid1-left1 a {
      font-size: 14px;
    color: #00a78e;
    text-decoration: none;
}
ul.social-icons.two {
    display: block;
    padding: 0;
    margin: 2em 0;
    background: none;
}
.navbar-default .navbar-nav > li > a.active {
    color: #F2593A !important;
}
.mail_left img{
	width:100%;
}
.mail_right input[type="text"], .mail_right input[type="email"], .mail_right textarea {
       background: none;
    width: 100%;
    color: #777;
    padding: 19px 10px;
    margin-bottom: 24px;
    outline: none;
    border: 2px solid #00a78e;
}
.mail_right textarea {
	height:200px; 
	resize:none;	
}
.mail_right input[type="submit"] {
        border: none;
    outline: none;
    color: #fff;
    background: #212322;
    font-size: 16px;
    padding: 13px 40px;
}
.mail_right input[type="submit"]:hover{
 background: #00a78e;
	    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
	color:#fff;
}
.contact iframe{
	width:100%;
	height:400px;
	outline:none;
}
.mail_right {
    background: #FDFFFE;
    padding: 2em;
}
span.border.two {
    width: 18%;
    background: #fff;
    height: 1px;
    display: block;
    margin-top: 26px;
    position: relative;
    margin: 23px auto 0px;
}
span.border.two:after {
    content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left:65px;
}
/*-- footer --*/
.footer {
    background: url(../images/contact.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 650px;
    padding:5em 0 0em 0;
}
.footer_top ul li{
	font-size:22px;
	line-height:2em;
	list-style-type:none;
	text-transform:uppercase;
	display:inline-block;
	margin:0 20px;	
}
.footer_top ul {
    margin: 45px 0 45px;
	border-bottom:1px solid #fff;
    padding-bottom: 30px;
}
.footer_top ul li a{
	color:#B3B3B3;
	text-decoration:none;
	
}
/*-- //footer --*/
.copy_right p {
      color: #fff;
    font-size: 0.9em;
    line-height: 1.9em;
    margin: 1em 0;
}
.copy_right p a{
    color: #00a78e;
	text-decoration:none;
}
/*-- //contact --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/movetop.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/* -------------graphic-------------- */
.cup{
	display: flex;
	justify-content: center;
	
}
.cup img{
	border-radius: 5px;
	width: 35rem;
	/* padding: 3rem; */
	margin: 2rem;
	margin-bottom: 3rem;
}
/* ------------art----------------- */
.art2-body h5{
	font-size: 3rem;
}
.art1-body h5{
	font-size: 3rem;
}
.art1{
	margin:2rem;
	text-align: center;
	width: 100%;
    padding: 20px;
	border-radius: 5px;
    background-color: #fff5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.art1-img img{
	height: 50rem;
}
.art2{
	margin:2rem;
	text-align: center;
	width: 100%;
    padding: 20px;
	border-radius: 5px;
    background-color: #fff5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.art2-img img{
	height: 30rem;
	
}
.art{
	font-family: 'Nunito Sans', sans-serif;
}
/* ---------------ux-------------- */
.ux-content{
	background-color: #ffffff;
	margin-top: 2rem;
	border-radius: 5px;

}
.uxtopimg1 img{
	width: 1140px;
	border-radius: 5px;
	/* margin-top: 2rem; */
}
.mobile-content1 h2{
	
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content1{
	width: 550px;
}
.mobile-content1 p{
	font-size: 12pt;
	margin-top: 3rem;
	color: #5f5f5f;
	border-radius: 5px;
	/* background-color:rgba(0, 199, 169, 0.228); */
}
.content1{
	margin-left: 10rem;
	margin-right: 10rem;
	display: flex;
	margin-top: 2rem;
}
.mobile-side-content1 h3{
	font-size: 15pt;
}
.mobile-side-content1 p{
	font-size: 12pt;
	color: #565656;
}
.mobile-side-content1{
	width: 250px;
	margin-left: 5rem;
}
.uxtopimg2 img{
	width: 900px;
	border-radius: 5px;
	margin-top: 2rem;
	margin-left: 9%;
}
.mobile-content2{
	width: 900px;
	margin: 2rem;
	margin-left: 9%;
}
.mobile-content2 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content2 p{
	color: #565656;
	border-radius: 5px;
	/* background-color:rgba(0, 199, 169, 0.228); */
}

.uxtopimg3 img{
	width: 500px;
	border-radius: 5px;
	margin-top: 2rem;
	margin-left: 27%;
}
.mobile-content3 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content3{
	margin-left: 10%;
	margin-top: 2rem;
	margin-bottom: 5rem;
}
.mobile-content3 p{
	width: 900px;
	color:  #565656;
	border-radius: 5px;
}
.mobile-content4 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content4{
	width: 950px;
	margin:5rem;
	padding: 5rem;
}
.uxtopimg4 img{
	width: 800px;
	border-radius: 5px;
	margin-left: 15%;
	/* margin-top: 2rem; */
}
.mobile-content4 p{

	color:  #565656;;
	border-radius: 5px;
	
}
.ux5{
	margin: 3rem;
}
.uxtopimg5 img{
	margin: 2rem;
  
	height: 250px;
	border-radius: 5px;
}
.mobile-content5{
     margin:5rem;
}
.mobile-content5 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content5 p{
	width: 900px;
	
	color:  #5f5f5f;
	border-radius: 5px;
	
}
.ux6{
	margin: 15rem;
	display: flex;
	justify-content: center;
}
.uxtopimg6 img{
	width: 350px;
	border-radius: 5px;

}
.mobile-content6 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content6{
	width: 550px;
	margin:5rem;
	color:  #282828;;
	border-radius: 5px;
}
.mobile-content6 p{
	color:#5f5f5f
}
.ux7{
	margin: 10rem;
}
.uxtopimg7 img{
	height: 250px;
	border-radius: 5px;
}
.uxtopimg7 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content7 p{
	width: 800px;

	margin: 2rem;
	color:  #282828;;
	border-radius: 5px;

}
.q{
	background-color: #5862ac;
	color: #ffffff;
	padding: 10rem;
	
}
.q h1{
	text-align: center;
	font-size: 6rem;
}
.uxheader{
	font-family: 'Nunito Sans', sans-serif;
}
/* --------------------photo---------------- */
.flip-card-front img{
	width:auto;
	height: 300px;

}
.flip-card-back img{
	width:auto;
	height: 300px;
}
.photo-contain{
	text-align: center;
}
.photo-content{
	display: flex;
	/* flex-direction:column; */
	flex-wrap:wrap;
	justify-content: center;
}
.flip-card {
	background-color: transparent;
	width: 450px;
	height: 300px;
	perspective: 1000px;
	margin: 5rem;
	
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #fff;
	color: black;
  }
  
  .flip-card-back {
	background-color: #ffffff;
	color: white;
	transform: rotateY(180deg);
  }
/* -------------web----------------- */
.web-content1 h2{
	font-weight: bold;
	font-size: 24pt;
}
.web-content1{
	margin-top: 5rem;
	margin-left: 5rem;
	width: 90%;
}
.web6{
	margin: 10rem;
	display: flex;
	justify-content: center;
}
.webimg6 img{
	width: 600px;
	border-radius: 5px;

}


.webimg3 img{
	width: 500px;
	border-radius: 5px;
	margin-top: 2rem;
	margin-left: 27%;
}
.webbtn{
	text-align: center;
	margin-top: 5rem;
	
}
.webbtn button{
	height: 50px;
	width: 150px;
  font-size: 18px; /* Adjust font size to make the text bigger */
  background-color: #5862ac; /* Button background color */
  color: #fff; /* Button text color */
  border: 2px solid #5862ac; /* Add solid border */
  border-radius: 8px; /* Add border radius for rounded corners */
  cursor: pointer; 
 
}
.webbtn button a{
	color: #fff;
	
}
.webbtn button a:hover {
	text-decoration: none;
	
  }
/*-- responsive-design --*/

@media(max-width:1024px){
	.about-left {
        padding:4em 0 3.5em 0;
	}
	.about-left-grid {
		width: 70%;
		float: right;
		margin-right:5em;
		min-height: 459px;
	}
	.news-text {
		float: right;
		padding: 0.7em 2em 2em 2em;
	}
	#work,.blog,#services {
		padding: 3em 0;
	}
	#port {
		padding: 3em 0 0 0;
	}
	.footer {
		min-height: 587px;
		padding: 3em 0 0em 0;
	}
	ul.year li:nth-child(2) {
		margin-top: 157px;
	}
	ul.year li:nth-child(3) {
		margin-top: 145px;
	}
	ul.year li:nth-child(4) {
		margin-top: 149px;
	}
	ul.year li:nth-child(5) {
		margin-top: 147px;
	}
	.thumb .team_pos {
		bottom: -83px;
		left: 0;
		margin-top: -50px;
		padding: 6px 0;
	}
	/* --------------------photo---------------- */
.flip-card-front img{
	width:auto;
	height: 300px;

}
.flip-card-back img{
	width:auto;
	height: 300px;
}
.photo-contain{
	text-align: center;
}
.photo-content{
	display: flex;
	/* flex-direction:column; */
	flex-wrap:wrap;
	justify-content: center;
}
.flip-card {
	background-color: transparent;
	width: 450px;
	height: 300px;
	perspective: 1000px;
	margin: 5rem;
	
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #fff;
	color: black;
  }
  
  .flip-card-back {
	background-color: #ffffff;
	color: white;
	transform: rotateY(180deg);
  }
	/* ------------web----------- */
	.uxtopimg1 img{
		width: 100%;
	}
	
	.web-content1 h2{
		font-size: 2rem;
	}
	.web-content1 p{
		font-size: 1rem;
		
	}
	.web-content1{
		width: 90%;
		margin-left: 5rem;
	}
	
	.web6{
		display: flex;
		flex-direction:column;
		margin-left:5remrem;
	   
	}
	.webimg6 img{
		width: 90%;
		margin-left: 0rem;
		/* margin-top: 3rem; */
	}
	.mobile-content6{
		width:90% ;
		margin-top: 1rem;
		margin-left: 0rem;
		margin-bottom: 0;
	}
	.mobile-content6 h3{
		font-size: 1.5rem;
            
	}
	.mobile-content6 p{
		font-size: 1rem;
		
	}
	.uxtopimg2 img{
		width: 80%;
		margin-left: 5rem;
		/* margin-top: 4rem; */
	}
	.mobile-content2{
		width:80% ;
		margin-top: 1rem;
		margin-left: 5rem;
		margin-bottom: 0;
	}
	.mobile-content2 h2{
		font-size: 1.5rem;
            
	}
	.mobile-content2 p{
		font-size: 1rem;
		
	}
	.webimg3 img{
		width: 80%;
		margin-left: 8rem;
		margin-top: 4rem;
	}
	.mobile-content4{
		width:80%;
		margin-top: 1rem;
		margin-left: 5rem;
		margin-bottom: 0;
		padding: 0;
	}
	.mobile-content4 p{
		font-size: 1rem;
		padding-bottom: 5rem;   
	}
	
	.mobile-content4 h2{
		font-size: 1.5rem;
        
}
/* ---------------ux-------------- */
.ux-content{
	background-color: #ffffff;
	margin-top: 2rem;
	border-radius: 5px;

}
.uxtopimg1 img{
	width: 100%;
	border-radius: 5px;
	/* margin-top: 2rem; */
}
.mobile-content1 h2{	
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content1{
	width: 550px;
}
.mobile-content1 p{
	font-size: 12pt;
	margin-top: 3rem;
	color: #5f5f5f;
	border-radius: 5px;
	/* background-color:rgba(0, 199, 169, 0.228); */
}
.content1{
	margin-left: 10rem;
	margin-right: 10rem;
	display: flex;
	margin-top: 2rem;
}
.mobile-side-content1 h3{
	font-size: 15pt;
}
.mobile-side-content1 p{
	font-size: 12pt;
	color: #565656;
}
.mobile-side-content1{
	width: 250px;
	margin-left: 5rem;
}
.uxtopimg2 img{
	width: 85%;
	border-radius: 5px;
	margin-top: 2rem;
	margin-left: 9%;
}
.mobile-content2{
	width: 85%;
	margin: 2rem;
	margin-left: 9%;
}
.mobile-content2 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content2 p{
	color: #565656;
	border-radius: 5px;
	/* background-color:rgba(0, 199, 169, 0.228); */
}

.uxtopimg3 img{
	width: 80%;
	border-radius: 5px;
	margin-top: 2rem;
	margin-left: 10%;
}
.mobile-content3 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content3{
	margin-left: 10%;
	margin-top: 2rem;
	margin-bottom: 5rem;
}
.mobile-content3 p{
	width: 90%;
	color:  #565656;
	border-radius: 5px;
}
.mobile-content4 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content4{
	width: 90%;
	margin:0rem;
	padding: 5rem;
}
.uxtopimg4 img{
	width: 90%;
	border-radius: 5px;
	margin-left: 5rem;
	/* margin-top: 2rem; */
}
.mobile-content4 p{

	color:  #565656;;
	border-radius: 5px;
	
}
.ux5{
	margin: 3rem;
}
.uxtopimg5 img{
	margin-left: 5rem;
	margin-top: 15rem;
    width: 40%;
	height: auto;
	border-radius: 5px;
}
.mobile-content5{
	width: 80%;
     margin:5rem;
}
.mobile-content5 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content5 p{
	width:  100%;
	
	color:  #5f5f5f;
	border-radius: 5px;
	
}
.ux6{
	margin: 15rem;
	display: flex;
	justify-content: center;
}
.uxtopimg6 img{
	width: 350px;
	border-radius: 5px;

}
.mobile-content6 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content6{
	width: 550px;
	margin:5rem;
	color:  #282828;;
	border-radius: 5px;
}
.mobile-content6 p{
	color:#5f5f5f
}
.ux7{
	margin: 5rem;
}
.uxtopimg7 img{
	width: 48%;
	height: auto;
	border-radius: 5px;
}
.uxtopimg7 h2{
	font-weight: bold;
	font-size: 24pt;
}
.mobile-content7 p{
	width: 800px;

	margin: 2rem;
	color:  #282828;;
	border-radius: 5px;

}
.q{
	background-color: #5862ac;
	color: #ffffff;
	padding: 10rem;
	
}
.q h1{
	text-align: center;
	font-size: 6rem;
}
.uxheader{
	font-family: 'Nunito Sans', sans-serif;
}
/* ----------graphic------- */
.cup{
	display: flex;
	/* flex-direction: column; */
}
}

@media(max-width:480px){
	.wthree_about_right_grids {
		margin-top:1.5em;
	}
	h4.timeline-title {
      font-size: 1em;
	}
	#work, .blog, #services {
		padding: 2em 0;
	}
	.service-head h3 {
		font-size: 1.3em;
	}
	.service-head h4 {
		font-size: 0.9em;
		padding: .5em 1.2em
	}
	span.border {
		    width: 40%;
		background: #8C8989;
		height: 1px;
		display: block;
		margin: 11px auto 0px;
	}
	span.border.two {
		width: 39%;
	}
	.time-main {
		margin-top: 1.5em;
	}
	.mail_right {
		padding: 1em;
		margin-top: 1em;
	}
	.resp-tab-item {
		margin: 0 0 5px 0px;
		padding: 6px 11px;
		font-size: 14px;
	}
	.thumb .team_pos {
		bottom: -83px;
		left: 0;
		margin-top: -79px;
		padding: 6px 0;
	}
	ul.news li {
		display: inline-block;
		margin-right: 0.5em;
	}
	.about-right {
		float: none;
		min-height: 334px;
	}
	.about-left-grid ul {
		margin: 1.5em 0 0 0;
		padding: 0;
	}
	.about-left-grid {
		width: 93%;
		float: none;
		margin-right: 0;
		min-height: 390px;
		margin-left: 2em;
	}
	.about-left-grid ul li a {
		padding: 0.6em 2em;
		font-size: 0.9em;
	}
	.modal-dialog.about {
		width: 442px;
		margin: 2em auto 0;
	}
	.header-right {
	    padding-left:0em;
		float: left;
		width: 100%;
		padding: 1em 1em 0em 1em;
	}
	.header-right h1 {
		font-size: 1em;
		padding: .4em 1em;
	}
	.header-left {
		padding: 0em 1em 1em 1em;
		float: right;
		width: 100%;
	}
	.header-left img {
		width: 100%;
		margin-top: 3px;
	}
	.logo h1 {
		margin: 0;
		font-size: 1.8em;
	}
	.logo span {
		border: 7px solid #00a78e;
		padding: 0px 10px;
		font-size: 1.2em;
	}
	.top-header {
		padding: 1.5em 0 0 0;
	}
	.navigation-right {
		margin: 0em 0 0;
	}
	ul.year li {
		margin-top: 10px;
		font-size: 1em;
		padding: 11px 0;
		width: 100%;
		display: block;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	.resp-tabs-list {
		margin: 0em 0 1em 0;
		padding: 0;
	}
	/* --------------------photo---------------- */
.flip-card-front img{
	width:auto;
	height: 200px;

}
.flip-card-back img{
	width:auto;
	height: 200px;
}
.photo-contain{
	text-align: center;
}
.photo-content{
	display: flex;
	/* flex-direction:column; */
	flex-wrap:wrap;
	justify-content: center;
}
.flip-card {
	background-color: transparent;
	width: 450px;
	height: 200px;
	perspective: 1000px;
	margin: 5rem;
	
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #fff;
	color: black;
  }
  
  .flip-card-back {
	background-color: #ffffff;
	color: white;
	transform: rotateY(180deg);
  }
	/* ------------web----------- */
	.uxtopimg1 img{
		width: 100%;
	}
	
	.web-content1 h2{
		font-size: 2rem;
	}
	.web-content1 p{
		font-size: 1rem;
		
	}
	.web-content1{
		width: 90%;
		margin-left: 2rem;
	}
	
	.web6{
		display: flex;
		flex-direction:column;
		margin-left:2rem;
	   
	}
	.webimg6 img{
		width: 90%;
		margin-left: 0rem;
		/* margin-top: 3rem; */
	}
	.mobile-content6{
		width:80% ;
		height: auto;
		margin-top: 1rem;
		margin-left: 0rem;
		margin-bottom: 0;
	}
	.mobile-content6 h3{
		font-size: 1.5rem;
            
	}
	.mobile-content6 p{
		font-size: 1rem;
		
	}
	.uxtopimg2 img{
		width: 80%;
		margin-left: 2rem;
		/* margin-top: 4rem; */
	}
	.mobile-content2{
		width:80% ;
		margin-top: 1rem;
		margin-left: 2rem;
		margin-bottom: 0;
	}
	.mobile-content2 h2{
		font-size: 1.5rem;
            
	}
	.mobile-content2 p{
		font-size: 1rem;
		
	}
	.webimg3 img{
		width: 80%;
		margin-left: 2rem;
		margin-top: 4rem;
	}
	.mobile-content4{
		width:80%;
		margin-top: 1rem;
		margin-left: 2rem;
		margin-bottom: 0;
		padding: 0;
	}
	.mobile-content4 p{
		font-size: 1rem;
		padding-bottom: 5rem;   
	}
	
	.mobile-content4 h2{
		font-size: 1.5rem;
	}
/* ------------mobil------------- */
.content1 {
	width: 350px;
	display: flex;
	flex-direction:column;
	margin: 0;
	margin-left: 3rem;
}
.mobile-content1 {
	width: 350px;
}
.mobile-content1 h2{
	font-size: 2rem;
}
.mobile-content1 p{
	font-size: 1rem;
}
.mobile-side-content1{
	padding: 0;
	margin-left: 0rem;
}
.mobile-side-content1 h3{
	font-size: 1.5rem;
}
.mobile-side-content1 p{
	font-size: 1rem;
}
.uxtopimg5 {
	width: 350px;
}
.uxtopimg5 img{
	width: 350px;
	height: auto;
	margin-bottom: 0;
}
.mobile-content5{
	margin-top: 0;
	margin-left: 3rem;
}
.mobile-content5 h2{
	font-size: 1.5rem;
	width: 350px;
}
.mobile-content5 p{
	width: 350px;
	font-size: 1rem;
}
.ux6{
	width: 350px;
	display: flex;
	flex-direction:column;
	margin: 0;
	margin-left: 3rem;
}
.uxtopimg6 img{
	width: 280px;
}
.mobile-content6 h2{
	font-size: 1.5rem;
	width: 350px;
}

.mobile-content6 p{
	width: 300px;
	font-size: 1rem;
	margin: 0;
}
.uxtopimg7{
	margin-left: 0rem;
}
.ux7{
	margin: 3rem;
}
.uxtopimg7 img{
	width: 300px;
	height: auto;
}
.q {
	width: 100%;
	padding: 2rem;
}
.q h1{
  font-size: 2rem;
}
.uxtopimg3 img{
	width: 300px;
	margin-left: 3rem;

}
.mobile-content3 h2{
	font-size: 1.5rem;
	width: 350px;
}
.mobile-content3 p{
	width: 300px;
	font-size: 1rem;
	margin: 0;
}
.uxtopimg4 img{
	width: 300px;
	margin-left: 3rem;
}
/* ----------graphic------- */
.cup{
	display: flex;
	flex-direction: column;
}
/* ----------------work------------ */
.homecontainer h3{
	color: #212322;
	padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  }
  .homecontainer p{
	text-align: center;
	color: #212322;
  }
  .card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 80%;
	background-color: #fff;
    border-radius: 1%;
	margin: 2rem;
  }
  .card img{
	border-radius: 1%;
  }
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card a:hover {
	text-decoration: none;
	
  }


}
